<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Student</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- DataTables -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>

<body style="padding-right: 0px;">
	<header th:insert="fragment/navigation.html :: header"></header>
	<div class="wrapper">
		<section class="content">
			<div class="container-fluid">

				<!-- /.col -->
				<div class="col-12">
					<div class="card card-primary">
						<div class="card-header">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h5>Counter1</h5>
								</div>
								<div class="col-sm-6 label-alignment">
									<a href="student">Reports>>Counter1</a>
								</div>
							</div>
						</div>

						<div class="card-body">
							<div class="row">
								<ul class="col-6">
								<ul>
									<li><a th:href="@{/generalSetting/student/ctr1-r1}">Counter 1 -Report1</a></li>
									<li><a th:href="@{/generalSetting/student/ctr1-r2}">Counter 2 -Report2</a></li>
									<li><a th:href="@{/generalSetting/student/ctr1-r3}">Counter 3 -Report3</a></li>
</ul>

									<!--end list-->
								</ul>
							</div>
							<!-- /.card-body -->
						</div>

						<!-- /.card -->
					</div>
					<!-- /.col -->

				</div>
				<!-- /.container-fluid -->
		</section>

	</div>
	<script type="text/javascript" th:src="@{/js/jquery.dataTables.js}"></script>
	<script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.js}"></script>
	<script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/js/lodash.js}"></script>
	<script type="text/javascript" th:src="@{/js/util.js}"></script>
	<script type="text/javascript" th:src="@{/js/generalSetting/student.js}"></script>


</body>

</html>